.card {
  display: flex;
  flex-direction: column;
  padding: var(--space-m);
  background: var(--color-background-white);
  border: 1px solid var(--color-border-gray);
  border-radius: var(--radius-m);
  height: 100%;
  box-sizing: border-box;
  gap: var(--space-s);
  overflow: hidden; // fix the text truncation. min-width: 0; also works
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-4xs);
  margin-top: var(--space-2xs);
  width: 100%;
}

.content {
  flex: 1;
  /* Pushes the button to the bottom */
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.section {
  display: flex;
  flex-direction: column;
}

.skeletonCard {
  height: 300px;
  background: linear-gradient(
    90deg,
    rgba(211, 211, 220, 0.35) 0%,
    rgba(211, 211, 220, 0.7) 50%,
    rgba(211, 211, 220, 0.35) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
